<html>
    <body>
        <h1>Details Entered Successfully</h1>
        <div>
    <form action="/listofstudents">
            <button class="onClick">List_of_students</button>
        </form>
</div>
    </body>
</html>