<html>
    <body>
<form method="post" action="/singlestudentpage">
  <div class="form-group">
    <label>SearchByEmail</label>
    <input type="text" name="email" class="form-control">
  </div>
  <button type="submit" class="btn btn-secondary">Search</button>
  <p>{{data}}</p>
</form>

    </body>
    

</html>